@import 'commons';

@media only screen and (max-width: 530px) {

    // Estilo HEADER
    .nav-link{
        color: black;
    }

    .main__section__index--descripcion {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .main__section__index--imagen {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        scale: 0.7;
    }

    .main__section__index--texto {
        width: 50%;
        align-self: center;
        font-size: 12px;
    }
}

@media only screen and (max-width: 675px) {
    #header{
    background-color: $rojo_header;
    }

    .nav-link{
        color: black;
    }

    .navbar__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* logo y hamburg corren juntas */
    .navbar__start{
        display: none;
    }

    .nav-link{
        color: black;
    }
}
@media only screen and (min-width:768px) {

    // Estilo HEADER
    .nav-link{
        color: black;
    }

    /* Estilos index.html */

    #contenedor {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header"
            "main"
            "main"
            "main"
            "footer"
    }    

    .cajas__descripcion{
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main__section__index--descripcion {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        position: relative;
    }

    .main__section__index--imagen {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        scale: 1;
        &:hover{
            opacity: 0.07;
            transition: opacity 1000ms;
        }
    }

    .main__section__index--texto {
        position: absolute;
        z-index: -1;
        height: 187px;
        width: 300px;
   }

    /* Estilos horariosClases.html */

    .main__horarios {
        display: flex;
        flex-direction: column;
    }

    .main__horarios--cajas {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        align-items: center;
    }

    .main__horarios--categorias {
        height: 250px;
        padding: 0px 100px;
        border: 3px solid $marron_footer;
        border-radius: 20px;
        cursor: pointer;
    }

    .main__horarios--turnos {
        height: 250px;
        border: 3px solid $marron_footer;
        border-radius: 20px;    
        padding: 0px 100px; 
    }

    /* turnosCanchas.html */

    .horarios {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .container__horariosCanchas {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .horarios__instrucciones {
        grid-column: 1/4;
        margin: 10px;
        font-size: 18px;
    }

    .horarios--tipoCancha {
        border: 3px solid $marron_footer;
        height: auto;
        padding: 10px;
        margin: 5px;
        flex-direction: column;
    }

    .horarios--horarioCancha {
        border: 3px solid $marron_footer;
        padding: 10px;
        margin: 5px;
        flex-direction: column;
    }

    .horarios--tipoCancha2 {
        li:hover {
            cursor: pointer;
        }
    }
    .horarios--horasCancha2 {
        border: 3px solid $marron_footer;
        text-align: center;
        height: auto;
        padding: 53px 50px 50px 50px;
        margin: 5px;
        flex-direction: column;

        li {
            text-align: center;
            &:hover{
                color: $blanco_hover;
            }
        }

    }

    /* Estilo torneos.html */

    .main__torneos{
        display: flex; 
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
    }

    .container__torneos{
        display: flex; 
        flex-direction: row;
        justify-content: space-evenly;
    }

    .main__torneos--federados {
        border: 3px solid $marron_footer;
        text-align: center;
        // height: 300px;      
        margin: 20px;
        padding: 10px 100px;
        div {
            padding: 30px 0px;
            ul {
                    li {
                        cursor: pointer;
                        list-style-type: none;
                    }
                }
            }
    }

    .main__torneos--recreativos {
        border: 3px solid $marron_footer;
        text-align: center;
        height: 300px;
        margin: 20px;
        padding: 10px 100px;
        ul{
            padding: 30px 0px;
            li{
                margin: 21px;
            }

        }
    }

    /* Estilos contacto.html */

    .main__contacto--form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 3px solid $marron_footer;
        background-color: $marron_footer;
    }

    .main__contacto--datos {
        margin: 20px;
    }

    // Estilo FOOTER

    #footer{
        align-self: end;
    }
}