@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Unbounded:wght@300&display=swap");
body {
  background: url(../imágenes/descarga1.png);
  background-repeat: repeat;
  background-size: auto;
  margin: 0;
  padding: 0; }

#contenedor {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  grid-template-areas: "header" "main" "main" "main" "footer"; }

body {
  background: url(../imágenes/descarga1.png);
  background-repeat: repeat;
  background-size: auto;
  margin: 0;
  padding: 0; }

#contenedor {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  grid-template-areas: "header" "main" "main" "main" "footer"; }

#header {
  grid-area: header; }

.navbar__container {
  display: none; }

.header--fondo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(180, 2, 2, 0.7);
  height: 5em;
  align-items: center; }

.header__logo {
  margin: 20px; }

#header div a img {
  height: 5em;
  border-radius: 2.5em; }

.nav {
  justify-self: end; }
  .nav ul li {
    display: inline-block; }
    .nav ul li a {
      text-decoration: none; }

.nav-link {
  color: black; }

body {
  background: url(../imágenes/descarga1.png);
  background-repeat: repeat;
  background-size: auto;
  margin: 0;
  padding: 0; }

#contenedor {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  grid-template-areas: "header" "main" "main" "main" "footer"; }

/* Este es el estilo de MAIN */
#main {
  display: flex;
  grid-area: main;
  justify-content: center; }
  #main section h1 {
    text-align: center; }

/* index.html */
.bienvenido {
  display: flex;
  flex-direction: column; }

.main__section__index--saludo {
  font-family: "Merriweather", serif; }

.main__section__index--descripcion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px; }

.main__section__index--imagen {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  scale: 0.8;
  border-radius: 20px; }

.main__section__index--texto {
  width: 50%;
  align-self: center;
  font-size: 12px; }

/* HorariosCLASES.html */
.main__horarios {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: auto;
  height: 100%;
  justify-content: flex-start;
  margin: 0px auto auto auto; }

.main__horarios--titulo {
  margin: 10px auto;
  grid-area: titulo; }

.main__horarios--categorias {
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  grid-area: categorias;
  border: 3px solid rgba(255, 162, 0, 0.6);
  border-radius: 20px;
  margin: 20px; }
  .main__horarios--categorias ul {
    padding: 0px; }
    .main__horarios--categorias ul li {
      list-style: none;
      padding: 3px;
      border-radius: 5px;
      margin: 5px auto 5px auto; }
      .main__horarios--categorias ul li:hover {
        color: white;
        background-color: rgba(255, 0, 0, 0.5);
        cursor: pointer; }

.main__horarios--turnos {
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  grid-area: turnos;
  border: 3px solid rgba(255, 162, 0, 0.6);
  margin: 20px;
  border-radius: 20px; }
  .main__horarios--turnos ul {
    padding: 0px; }
    .main__horarios--turnos ul li {
      list-style: none;
      padding: 3px;
      border-radius: 5px;
      margin: 5px auto 5px auto; }
      .main__horarios--turnos ul li:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.5); }

/* Estilo de turnosCanchas.html */
.horarios {
  display: flex;
  flex-direction: column;
  align-items: center; }

.horarios__instrucciones {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 20px;
  position: relative;
  animation: balanceo 4s infinite;
  transition: 0.3s;
  color: rgba(255, 0, 0, 0.7); }

@keyframes balanceo {
  0% {
    left: -5px; }
  25% {
    left: 5px;
    top: 0px; }
  50% {
    left: 5px;
    top: 5px; }
  75% {
    left: -5px;
    top: 5px; }
  100% {
    left: -5px;
    top: 0px; } }

.horariosCancha__titulo {
  margin: 10px auto;
  border: 2px solid black; }

.horarios--tipoCancha,
.horarios--horarioCancha,
.horarios--horasCancha2 {
  border: 3px solid rgba(255, 162, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  margin: 5px auto 5px auto; }

.horarios--tipoCancha2 li {
  list-style: none;
  cursor: pointer; }

.horarios--tipoCancha2 li:hover {
  background-color: rgba(255, 0, 0, 0.5); }

/* Estilo torneos.html */
.main__torneos {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.main__torneos--federados, .main__torneos--recreativos {
  border: 3px solid rgba(255, 162, 0, 0.6);
  border-radius: 10px;
  margin: 20px;
  height: 150px; }
  .main__torneos--federados h2, .main__torneos--recreativos h2 {
    text-align: center; }
  .main__torneos--federados li, .main__torneos--recreativos li {
    list-style: none; }

/* Estilos contacto.html */
.main__contacto--contenedor {
  margin: 0px 50px 50px; }

.main__contacto--form, .main__contacto--datos {
  flex-direction: column; }

.main__contacto--form {
  display: flex;
  border-radius: 10px;
  border: 3px solid rgba(255, 162, 0, 0.6);
  background-color: rgba(255, 162, 0, 0.6);
  padding: 20px;
  margin-top: 50px; }

.main__contacto--datos {
  display: flex; }

body {
  background: url(../imágenes/descarga1.png);
  background-repeat: repeat;
  background-size: auto;
  margin: 0;
  padding: 0; }

#contenedor {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  grid-template-areas: "header" "main" "main" "main" "footer"; }

/*Este es el estilo GENERAL de FOOTER*/
#footer {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 162, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  position: relative;
  align-self: end; }

footer div li {
  list-style: none; }
  footer div li a {
    text-decoration: none; }

footer div div {
  display: flex;
  justify-content: center; }
  footer div div a img {
    margin: 10px; }

.img__redes {
  width: 26px;
  height: 26px; }

.img_footer {
  width: 64px;
  height: 64px;
  border-radius: 55px; }

.nav-2 {
  padding: 4px 16px; }

body {
  background: url(../imágenes/descarga1.png);
  background-repeat: repeat;
  background-size: auto;
  margin: 0;
  padding: 0; }

#contenedor {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  grid-template-areas: "header" "main" "main" "main" "footer"; }

@media only screen and (max-width: 530px) {
  .nav-link {
    color: black; }
  .main__section__index--descripcion {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px; }
  .main__section__index--imagen {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    scale: 0.7; }
  .main__section__index--texto {
    width: 50%;
    align-self: center;
    font-size: 12px; } }

@media only screen and (max-width: 675px) {
  #header {
    background-color: rgba(180, 2, 2, 0.7); }
  .nav-link {
    color: black; }
  .navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  /* logo y hamburg corren juntas */
  .navbar__start {
    display: none; }
  .nav-link {
    color: black; } }

@media only screen and (min-width: 768px) {
  .nav-link {
    color: black; }
  /* Estilos index.html */
  #contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    grid-template-areas: "header" "main" "main" "main" "footer"; }
  .cajas__descripcion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .main__section__index--descripcion {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    position: relative; }
  .main__section__index--imagen {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    scale: 1; }
    .main__section__index--imagen:hover {
      opacity: 0.07;
      transition: opacity 1000ms; }
  .main__section__index--texto {
    position: absolute;
    z-index: -1;
    height: 187px;
    width: 300px; }
  /* Estilos horariosClases.html */
  .main__horarios {
    display: flex;
    flex-direction: column; }
  .main__horarios--cajas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center; }
  .main__horarios--categorias {
    height: 250px;
    padding: 0px 100px;
    border: 3px solid rgba(255, 162, 0, 0.6);
    border-radius: 20px;
    cursor: pointer; }
  .main__horarios--turnos {
    height: 250px;
    border: 3px solid rgba(255, 162, 0, 0.6);
    border-radius: 20px;
    padding: 0px 100px; }
  /* turnosCanchas.html */
  .horarios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr; }
  .container__horariosCanchas {
    display: flex;
    grid-column: 1/4;
    justify-content: space-around; }
  .horarios__instrucciones {
    grid-column: 1/4;
    margin: auto;
    font-size: 18px; }
  .horarios--tipoCancha {
    border: 3px solid rgba(255, 162, 0, 0.6);
    height: auto;
    padding: 30px;
    margin: 5px;
    flex-direction: column; }
  .horarios--horarioCancha {
    border: 3px solid rgba(255, 162, 0, 0.6);
    height: auto;
    padding: 30px;
    margin: 5px;
    flex-direction: column; }
  .horarios--tipoCancha2 li:hover {
    cursor: pointer; }
  .horarios--horasCancha2 {
    border: 3px solid rgba(255, 162, 0, 0.6);
    text-align: center;
    height: auto;
    padding: 87px 50px 50px 50px;
    margin: 5px;
    flex-direction: column; }
    .horarios--horasCancha2 li {
      text-align: center; }
      .horarios--horasCancha2 li:hover {
        color: white; }
  /* Estilo torneos.html */
  .main__torneos {
    display: flex;
    flex-direction: row; }
  .main__torneos__instrucciones {
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 20px;
    position: relative;
    animation: balanceo 4s infinite;
    transition: 0.3s;
    color: rgba(255, 0, 0, 0.7); }
  .main__torneos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .main__torneos--federados, .main__torneos--recreativos {
    border: 3px solid rgba(255, 162, 0, 0.6);
    text-align: center;
    height: 300px;
    margin: 20px;
    padding: 50px 100px; }
    .main__torneos--federados ul li, .main__torneos--recreativos ul li {
      cursor: pointer; }
  .main__torneos--recreativos {
    border: 3px solid rgba(255, 162, 0, 0.6);
    text-align: center;
    height: 300px;
    margin: 20px;
    padding: 50px 100px; }
  /* Estilos contacto.html */
  .main__contacto--form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid rgba(255, 162, 0, 0.6);
    background-color: rgba(255, 162, 0, 0.6); }
  .main__contacto--datos {
    margin: 20px; }
  #footer {
    align-self: end; } }
